body {
    background-color: beige;
    margin: 10% 12%;
    font-size: 120%;
}

div.athlete {
    border: 1px solid;
}

span.athlete {
    font-weight: bold;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.summary {
    animation: fade-in 1.5s ease-in forwards;
}

h2 {
    background-color: #555454;
    color: white;
    padding: 2%;
    text-align: center;
    border-radius: 30px;
}

header {
    text-align: center;
    a {
        font-size: large;
        display: block;
        background-color: #555454;
        color: white;
        padding: 10%;
        text-align: center;
        border-radius: 30px;
        text-decoration: none;
    }
    h1:hover {
        font-weight: bolder;
    }
    h2 {
        color: black;
        background: none;
        font-size: large;
    }
}

footer {
    font-style: italic;
    font-size: small;
    margin: 10% 0;
    p {
        font-weight: bold;
    }
    address {
        font-style: italic;
    }
    a {
        color: black;
        text-decoration: none;
    }
}

main p {
    font-style: italic;
}

nav {
    display: grid;
    text-align: center;
    ul {
        padding: 0;
        list-style: none;
    }
    li {
        margin: 1% 0;
    }
    a {
        border: 3px solid #00537c;
        background-color: #00537c;
        color: white;
        text-decoration: none;
        padding: 5px;
        border-radius: 10px;
        display: block;
    }
    a:hover {
        background-color: #307fff;
        font-size: 110%;
    }
}

.athlete {
    font-weight: normal;
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: solid 2px black;
    font-size: 16px;
    background-color: #555454;
    color: white;
    padding: 20px;
    border-radius: 30px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#backToTopBtn:hover {
    background-color: #000000;
}

.athlete-div {
    background-color: #00537c;
    border: 2px solid #00537c;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5% 0;
    h3 {
        color: white;
        grid-column-start: 1;
        grid-column-end: -1;
        margin: auto;
        margin-bottom: 10%;
    }
    figure {
        text-align: center;
        font-weight: bold;
        grid-row: 1/span 2;
        img {
            width: 100%;
            border-radius: 10px;
            margin: 10%;
        }
    }
    dl {
        color: white;
        grid-row: 1/span 2;
        margin: 10px 20%;
        align-content: space-evenly;
        dt {
            text-decoration: underline;
            font-weight: bold;
        }
        dd {
            margin-left: 8px;
        }
    }
    > .top-right {
        justify-self: start;
    }
}

#galleryButton {
    background-color: #555454;
    color: white;
    padding: 2%;
    text-align: center;
    border-radius: 30px;
    border: none;
    margin: 5% 0;
    display: block;
    width: 100%;
    font-size: inherit;
}

#galleryButton.up i::before {
    content: "\f0d7";
}

#galleryButton.down i::before {
    content: "\f0d8";
}

#galleryContent {
    display: grid;
    gap: 15px;
    justify-items: center;
    align-items: center;
}

#gallery img {
    width: 70%;
    height: auto;
    border-radius: 8px;
    animation: fade-in 1.5s ease-in forwards;
}
